body {
  background-color: #70cc70;
  text-align: center;
  font-family: Roboto, Serif;
}

button {
  background-color: lightgrey;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Roboto, Serif;
  border: 1px #70cc70 solid;
}

#dealerhand, #playerhand {
  background-color: #60bb60;
  padding: 20px;
  min-height: 160px;
}

#buttonarea {
  padding: 20px;
}
